<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Analysis</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="Index.css">

</head>

<body>

<!-- ///////////////////////////////////////////////// -->

<!-- Navigation Ribbon -->
<div class="topnav">
  <a href="{{ url_for('Index') }}">Home</a> 
  <a href="{{ url_for('About') }}">About</a> 
  <a href="{{ url_for('Survey') }}">Analytics Input - Take our Survey</a> </div>

<center>
<h1 style="color:rgb(5, 5, 14);" class="header"><b>Brick & Mortar vs. ECommerce </b></h1>
<h5 style="color: rgb(5,5,14);"

</div> </center>

<!-- Logo and backround image -->

<div
class="text-center"
style="background-image: url('static/Reaper2.png');
background-position: left-top;
background-repeat: no-repeat;
background-color: #0d0e0d13;
padding-top: 50px ;
padding-bottom: 50px;
max-width: 3000px;">

<!-- Average weekly sales - Ecommerce -->
<title>ECommerce Sales</title>
<img src="static/In-Store_Shopping1.png" align="Center">
<div class="background">
<div class="d-flex justify-content-left align-items-center h-100">
<div class="text">

<br>

<!-- Average weekly sales - Ecommerce -->
<title>ECommerce Sales</title>
<img src="static/In-Store_Shopping2.png" align="Center">
<div class="background">
<div class="d-flex justify-content-left align-items-center h-100">
<div class="text">

<br>

<!-- Average weekly sales - Ecommerce -->
<title>ECommerce Sales</title>
<img src="static/Online shopping.png" align="Center">
<div class="background">
<div class="d-flex justify-content-left align-items-center h-100">
<div class="text">